alembic==1.4.1
antlr4-python3-runtime==4.8
anyio==3.6.2
azure-core==1.26.2
azure-storage-blob==12.14.1
bitarray==2.5.1
brotlipy==0.7.0
cachetools==4.2.4
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
codecov==2.1.12
colorama==0.4.5
coverage==7.0.5
cryptography==39.0.0
Cython==0.29.30
databricks-cli==0.17.4
docopt==0.6.2
entrypoints==0.4
fairseq==0.9.0
fastapi==0.89.1
filelock==3.7.1
Flask==2.2.2
gitdb==4.0.10
GitPython==3.1.30
google-api-core==2.10.2
google-auth==1.35.0
google-crc32c==1.5.0
googleapis-common-protos==1.58.0
gorilla==0.4.0
gunicorn==20.1.0
huggingface-hub==0.8.1
hydra-core==1.0.7
idna==3.4
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
Mako==1.2.4
MarkupSafe==2.1.1
mosestokenizer==1.2.1
msrest==0.7.1
numpy==1.23.0
oauthlib==3.2.2
omegaconf==2.0.6
openfile==0.0.7
pandas==1.5.2
pip==22.3.1
portalocker==2.4.0
prometheus-client==0.15.0
prometheus-flask-exporter==0.21.0
protobuf==4.21.12
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.10.4
PyJWT==2.6.0
pyOpenSSL==23.0.0
google-cloud-storage==2.7.0
google-cloud-secret-manager==2.12.6
mlflow==2.0.1
click==8.1.3
pg8000==1.29.3
wsgi-basic-auth==1.1.0
gunicorn==20.1.0
psycopg2-binary==2.9.5
PySocks==1.7.1
pythainlp==3.0.8
python-dateutil==2.8.2
python-editor==1.0.4
pytz==2022.7
PyYAML==6.0
querystring-parser==1.2.4
regex==2022.6.2
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
sacrebleu==1.2.10
sacremoses==0.0.53
sentencepiece==0.1.96
setuptools==65.6.3
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sqlparse==0.4.3
starlette==0.22.0
StringDist==1.0.9
tabulate==0.8.10
tinydb==4.7.0
tokenizers==0.12.1
tomli==2.0.1
toolwrapper==2.1.0
torchaudio==0.11.0
tqdm==4.64.0
transformers==4.20.1
typing==3.7.4.3
typing_extensions==4.4.0
uctools==1.3.0
urllib3==1.26.14
websocket-client==1.4.2
Werkzeug==2.2.2
wheel==0.38.4
